/.coveralls.yml                     export-ignore
/.gitattributes                     export-ignore
/.gitignore                         export-ignore
/bin                                export-ignore
/composer.lock                      export-ignore
/phpunit.xml                        export-ignore
/tests                              export-ignore
/Dockerfile

# these files are used to update private properties in sndsgd\util\Mime
/data                               export-ignore
