language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4snapshot

install:
  - composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover build/coverage/clover.xml

after_script:
  - vendor/bin/coveralls -v
