<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="tests/bootstrap.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <report>
      <html outputDirectory="build/coverage"/>
      <clover outputDirectory="build/coverage/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="sndsgd/util tests">
      <directory suffix=".php">./tests/unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
